@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Professor
@{
    ViewBag.Title = "Delete Professor";
}

<h2>Confirm Delete</h2>

<h3>@Model.LastName , @Model.FirstName (@Model.Department)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProfessorID" />
    <button type="submit" class="btn btn-primary">Delete </button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
